{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<link rel="stylesheet"
href="Current_and_Reasons.css"/>


<head>
 <title>Почему именно наши курсы?</title>
 <meta charset="UTF-8">
</head>

<body>
    <div class="header">
          
           <big>
             <h1>ПОЧЕМУ ИМЕННО НАШИ КУРСЫ?</h1>
        
            </big>
          
        
       
    </div>
    
    
     
 <div class="row">
    <div class="main">
        <h2>Какова причина выбрать именно наши курсы?</h2>
       <h5>25 Февраля 2024 г.</h5>
       <p>Вы готовы изменить свою жизнь до неузнаваемости? Вступайте в удивительный мир несуразных и неописуемых знаний с нашими бесполезными курсами, которые перевернут ваше представление о успешности и процветании!

        Наши эксклюзивные курсы предлагают вам возможность познать тайны вселенной, управлять магическими силами и осуществить самые невероятные мечты. Будьте готовы к встрече с непознаваемым, когда вы окунетесь в мир безграничных возможностей, которые никогда не пригодятся в вашей повседневной жизни!
        
        Наши преподаватели - эксперты в области абсурда и фантастики, готовые открывать перед вами двери в неизведанный мир абсурдности. Помимо этого, вас ждут уроки по созданию иллюзий, волшебства и мистики, которые перенесут вас в мир, где сказка становится реальностью.
        
        Присоединяйтесь к нам сегодня и заполните свою жизнь невообразимыми приключениями и пустыми знаниями. Пусть бесполезность станет вашим ключом к искусству счастья и безумия!
        
        Не упустите шанс стать частью удивительного путешествия в мир бесполезности - записывайтесь прямо сейчас!</p>
      
    </div>

   
 </div>
          
  <div class="footer">
   <h2>Адрес: Ул. Фантастическая, д. 123, кв. 456, Город Невидимый, Страна Воображаемая

    Контактный номер: +12 345 67 89 000;Анна Смит-anna.smith@example.com
  </h2>
  </div>

</body>
</html>
{% endblock %}