{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>




<head>
 <title>Актуальные курсы</title>
 <meta charset="UTF-8">
 <link href="{{ url_for('static', filename='Current_and_Reasons.css') }}" rel="stylesheet">
</head>



<body>
    <div class="header">
          
           <big>
             <h1>АКТУАЛЬНЫЕ КУРСЫ</h1>
        
            </big>
          
        
       
    </div>

   
   
     
 <div class="row">
    <div class="main">
        <h2> бесПОЛЕЗНЫЙ КУРС ПО ПРИВЛЕЧЕНИЮ ДЕНЕГ
        </h2>
       <h5>25 Февраля 2024 г.</h5>
       
      <p> "Магия монет: таинственные секреты финансового обогащения"
        Содержание курса:
        - Модуль 1: "Искусство алхимии денег: превращение обычных монет в золотые"
        - Модуль 2: "Секреты финансового успеха в черной магии: заклинания для привлечения денежного изобилия"
        - Модуль 3: "Богатство и венец лавров: как пользоваться магическим кристаллом для притяжения финансового благополучия"</p>
      
       </div>

    <div class="side">
     <h2> "Магия Монетизации Моментов: Превращение Виртуальной Реальности в Реальные Доходы"</h2>
    
     <h5>25 Февраля 2024 г.</h5>
     
     <p>
        Содержание курса:
        - Модуль 1: "Активация Денежного Шарма: Как использовать виртуальные фильтры для притяжения финансового успеха"
        - Модуль 2: "Волшебные Цифры: Практические методики ментального программироания для виртуального богатства"
        - Модуль 3: "Криптовалютное колдовство: Определение финансового будущего в одном щелчке"
        - Модуль 4: "Эфирные Эксперименты: Исследование возможности моментального предсказания курса финансовых рынков"</p>
   
    </div>
 </div>
          
  <div class="footer">
   <h2>Адрес: Ул. Фантастическая, д. 123, кв. 456, Город Невидимый, Страна Воображаемая

    Контактный номер: +12 345 67 89 000;Анна Смит-anna.smith@example.com
  </h2>
  </div>

</body>

</html>
{% endblock %}
