h1
{
 color :#000000;
 font-size:"50";
 backdrop-filter: blur(20px);
 
}

body{
    margin: 0;
    background:url(https://abrakadabra.fun/uploads/posts/2022-01/1643413757_17-abrakadabra-fun-p-oboi-na-telefon-dengi-estetika-dlya-podros-36.jpg);
}

p{
    padding: 0%;
    text-align: left;
    font-size: 20px;
    margin: 0%;
    backdrop-filter: blur(5px);
   
}
.fake{
    background-size:url(https://db4sgowjqfwig.cloudfront.net/images/931559/fightclub.jpg);
}
h6
{
font-size: xx-large;
}
.header
{
    
    padding: 1px;
    text-align: center;
    background:#a3b18a;
    color:#000000
    
}
.navbar 
{
    overflow: hidden;
background-color: rgb(146, 142, 81);
}
.navbar a
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover
{
    color: black;
background-color: rgb(255, 255, 255);
}

.row{
    
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    position:static;
    margin-left: auto;
    margin-right: auto;

}

.side{
    background-color: #283618;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main{
    flex: 70%;
    background-color: aliceblue;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
* {
   box-sizing: border-box;
}
.footer{
     padding: 20px;
     text-align: center;
     background:#606c38;
}

@media screen  and (max-width:700px){
    .row{
        flex-direction: column;
    }
    
}

@media screen  and (max-width:400px){
    .navbar a
    {
       float: none;
       width: 100%; 
    }
    
}
.navbar {
    background-color: #f1f1f1;
}
.navbar-nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    margin-left: 10px; 
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
  }
.navbar-brand {
    color: #333;
    font-weight: bold;
    margin-right: 20px;
}

.navbar-nav {
    text-align: right;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #333;
}